@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans text-slate-800 bg-white antialiased;
}

h1, h2, h3, h4 {
  @apply font-heading text-slate-900;
}
